*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s linear;
    text-decoration: none;
    border: none;
    list-style-type: none;
}
html{
    /* font-size: 88.8%; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8em;
}
body{
    position: relative;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: rgb(247, 182, 4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 9%;
    height: 70px;
    box-shadow: 0 0 20px rgb(247, 182, 4,1);
}
header .logo{
    color: rgb(119, 253, 107);
    font-weight: bolder;
    font-size: 30px;
}
nav ul{
    display: flex;

}
nav ul li{
margin:0 15px;

}
nav ul li a{
    color:black;
    font-size: 20px;
    font-weight: 500;
    transition: 0.8s;
}
nav ul li a:hover{
    color:rgb(119, 253, 107);
    letter-spacing: 5px;
}
header button
{
    background-color: rgb(119, 253, 107);
    cursor: pointer;
    padding: 1%;
    border-radius: 10px;
    font-size: 1.3em;
}
#sony{
    margin-top: -1%;
    height: calc(100vh-50px);
    padding: 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color:  rgb(247, 182, 4);
}
#sony .left{
    width: 40%;
}
#sony .left h1{
    font-size: 45px;
    margin-bottom: 12px;
    color: green;
    font-weight: bolder;
}
#sony .left h1 span{
    color:  rgb(246, 183, 10)  ;
}
#sony .left p{
    margin-bottom: 30px;
    color:#9999;
    font-size: 20px;
    font-weight: bolder;
    height: 10%;
}
#sony .left a{
    background-color: chartreuse;
    padding: 10px 20px;
    color:black;
    transition: 8s;
    font-size: 22px;
    font-weight: 900;
}
#sony .left a:hover{
    background-color:rgb(246, 183, 10) ;
}
#sony .right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


 @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(20);
              transform: scale(1) translateY(20);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
              transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
              transform-origin: 50% 16%;
    }
    50% {
      -webkit-transform: scale(1.25) translateY(-15px);
              transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
    100% {
        -webkit-transform: scaleX(1.25) translateY(-15px);
                transform: scaleX(1.25) translateY(-15px);
                transform: scaleZ(3.25) translateX(-15px);
        -webkit-transform-origin: top;
                transform-origin: top;
      }
  }
  

.kenburns-top {
	-webkit-animation: kenburns-top 8s ease-in-out infinite;
	        animation: kenburns-top 8s ease-in-out infinite;
}


#my_audio{
    display: none;
}
#mob{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		width: 100%;
		height: auto;
		padding: 1rem 0;
		margin: 2.5rem 0;
		cursor: default;
		overflow: scroll hidden;
		scroll-snap-type: x mandatory;
		scroll-padding: 0px 1.25rem;
		scrollbar-width: none;
}
.title2{
    text-transform: uppercase;
    position: relative;
    font-size: 25px;
    font-weight: bolder;
    color: orangered;
}
.title2:before{
    position: absolute;
    
    left: 10px;
    bottom: -35px;
    content: "";
    background-color: orange;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  animation: slide 3s ease-in-out infinite;

}
.title2:after{
    position: absolute;
    left: -10px;
    top: -35px;
    content: "";
    background-color: orange;
  width: 100%;
  height: 5px;
  border-radius: 8px;
  animation: slide2 3s ease-in-out infinite;

}
@keyframes slide{
    0%{
        position: relative;
        left: 10px;
       background-color: red;
    }
    25%{
        position: relative;
        left: -15px;
       background-color:yellowgreen;
    }
    100%{
        position: relative;
        left: -20px;
       background-color: orange;
    }
}
@keyframes slide2{
    0%{
        position: relative;
        left: -10px;
      background-color:  red;
    }
    25%{
        position: relative;
        left: 15px;
      background-color:yellowgreen;
    }
    100%{
        position: relative;
        left: 20px;
       background-color: orange;
    }
}



.flex-container {
    display: inline-flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* align-content: space-around; */
  }
  
  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(6) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(7) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex-items:nth-child(8) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .img_container{
    display: grid;
  }


.items{
  text-align: center;
}
.mob_sec{
  max-width: 1100px;
  margin: 0 auto;
  /* background: orange; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
}
.v-stretch{
  grid-row: span 2;
}
.h-stretch{
  grid-column: span 2;
}
.big-stretch{
  grid-column: span 2;
  grid-row: span 2;

}
.mob_sec div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media(max-width:560px){
  .mob_sec{
    width: 100%;
  }
  .v-stretch{
    grid-row:span 1;
  }
  .h-stretch{
    grid-column:span 1;
  }
  .big-stretch{
    grid-column: span 1;
    grid-row: span 1;
  }
}













	
		
		
	


